

:root{
  --red-scanline: rgba(204,94,98,0.2);
  --black-scanline: rgba(1,1,1,0.9);
  --yellow: #f7f500;
  --red-glow: rgba(211,87,91, 0.91);
  --blue: #61e4fa;
  }
  *{
    box-sizing: border-box;
  }
  html,body{
    margin: 0;
    height: 100%;
    display: block;
  }
  body{
    background-image: url("Night.jpg");
  }