

:root{
  --red-scanline: rgba(204,94,98,0.2);
  --black-scanline: rgba(1,1,1,0.9);
  --yellow: #f7f500;
  --red-glow: rgba(211,87,91, 0.91);
  --blue: #61e4fa;
  }
  *{
    box-sizing: border-box;
  }
  html,body{
    margin: 0;
    height: 100%;
    display: block;
  }
  body{
    background-image: url("./pictureFile/Night.jpg");
    background-size: cover;
    color:white
  }

  .menu
  {
    margin-left: 150px;
    width:400px;
    height: 100%;
    display:inline-block;
  
    background: 
      repeating-linear-gradient(
        to bottom,
        transparent 0%,
        var(--red-scanline)1px,
        var(--red-scanline)4px,
        var(--red-scanline)5px,
        transparent 0.5%
      ),
      repeating-linear-gradient(
        to left,
        var(--black-scanline),
        var(--black-scanline)100%
      );

  }
  .logo{
    color:#f7f500;font-family: 'Cyberpunk';
    font-size:42px;
    line-height: 1.5;
    letter-spacing:5px;
    text-align: center;
    text-shadow: rgb(0,208,255) 2px 3px 0px;
    padding:25px;
  }
  .sublogo{
    font-size:26px;
    text-shadow: rgb(0,208,255)0px 0px 15px;
    text-align: right;
    letter-spacing:3px;
    padding-right: 10px;
  }
  .menu li{
    list-style-type: disc;
    padding: 0px 25px;
  }
  .menu ul li{
    text-transform: uppercase;
    cursor: pointer;
    color: rgba(211,87,91,0.81);
    font-family: Cyberpunk;
  }